{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
{{ block.super }}
<style>
.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}
</style>
{% endblock %}

{% block content %}
<div class="graph"></div>
{% endblock %}

{% block script %}
<script>

var width = 960,
    height = 500

var svg = d3.select(".graph").append("svg")
    .attr("width", width)
    .attr("height", height);

var force = d3.layout.force()
    .gravity(.05)
    .linkDistance(100)
	.distance(200)
    .charge(-100)
    .size([width, height]);

d3.json("{% url 'xhr_graph_data' %}?{{ request.GET.urlencode }}", function(error, json) {
  force
      .nodes(json.nodes)
      .links(json.links)
      .start();

  var link = svg.selectAll(".link")
      .data(json.links)
    .enter().append("line")
      .attr("class", "link");

  var node = svg.selectAll(".node")
      .data(json.nodes)
    .enter().append("g")
      .attr("class", "node")
      .call(force.drag);

  node.append("image")
      .attr("xlink:href", function(d) { return "http://stats.nba.com/media/logos/" + d.abbr + "_34x22.png"})
      .attr("x", -17)
      .attr("y", -11)
      .attr("width", 34)
      .attr("height", 22)

  node.append("text")
      .attr("dx", 20)
      .attr("dy", ".35em")
    	.attr("class", "shadow")
      .text(function(d) { return d.nickname });

	node.append("text")
	      .attr("dx", 20)
	      .attr("dy", ".35em")
	      .text(function(d) { return d.nickname });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
});

</script>
{% endblock %}